@font-face {
    font-family: Inter-Bold;
    src: url("../../../assets/static/Inter-Bold.ttf");

}

@font-face {
    font-family: Inter-Regular;
    src: url("../../../assets/static/Inter-Regular.ttf");

}

.TeachersNew {
    background-color: white;
    width: 100%;
    height: 1100px;
}

#tn_s1 {
    margin-left: 270px;
}

.tn_s1_user_groups {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-family: Inter-Bold;
    color: #B1B1B1;
    background-color: white;
    padding: 0px;
    margin-top: 20px;
}

.tn_s1_user_page_links {
    text-decoration: none;
    font-family: Inter-Bold;
    color: #B1B1B1;
}

.tn_border {
    border-bottom: #B1B1B1 solid 2px;
    margin-top: 20px;
    width: 140px;
}

.tn_s1_user_page_links:focus {
    color: black;
}

#tn_s2 {
    margin-left: 270px;
    margin-top: 20px;
}

#tn_s3 {
    margin-left: 270px;
    margin-top: 70px;
    border-top: black solid 5px;
    width: 78%;
    height: 800px;
    border-left: #B1B1B1 1px solid;
    border-right: #B1B1B1 1px solid;
    border-bottom: #B1B1B1 1px solid;
}

#tn_s3 tr {
    border: none;
}

#tn_s3 .row {
    padding-top: 40px;
    border-top: #B1B1B1 1px solid;
}

#tn_s3 th {
    border: none;
}

#tn_s3_header {
    font-family: Inter-Bold;
    color: black;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.tn_s3_label {
    margin-left: 20px;
    margin-top: 20px;
}

.tn_s3_input {
    margin-top: 16px;
    float: right;
    margin-right: 20px;
    width: 750px;
    border: silver solid 1px;
    border-radius: 5px;
}

#tn_s3_male_checkbox {
    margin-left: 195px;

}

.tn_s3_checkbox {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

#tn_s3_upph_img {
    cursor: pointer;
    margin-left: 280px;
    /* Style as you please, it will become the visible UI component. */
}

#tn_s3_upload_photo {
    opacity: 0;
    position: absolute;
    width: fit-content;
    z-index: -1;
}

#tn_s3_save_btn {
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family: Inter-Regular;
    margin-top: 10px;
    border-radius: 20px;
    width: 70px;
    height: 45px;
}