@font-face {
    font-family: Inter-Bold;
    src: url("../../assets/static/Inter-Bold.ttf");

}

@font-face {
    font-family: Inter-Regular;
    src: url("../../assets/static/Inter-Regular.ttf");

}

.UserTeachers {
    background-color: white;
    width: 100%;
    height: 1000px;
}

#ut_s1 {
    margin-left: 270px;
}

.ut_s1_user_groups {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-family: Inter-Bold;
    color: #B1B1B1;
    background-color: white;
    padding: 0px;
    margin-top: 20px;
}

.ut_s1_user_page_links {
    text-decoration: none;
    font-family: Inter-Bold;
    color: #B1B1B1;
}

.ut_border {
    border-bottom: #B1B1B1 solid 2px;
    margin-top: 20px;
    width: 140px;
}

.ut_s1_user_page_links:focus {
    color: black;
}

#ut_s2 {
    margin-left: 270px;
    margin-top: 20px;
}

#ut_s3 {
    margin-left: 270px;
    margin-top: 70px;
    border-top: black solid 5px;
    width: 78%;
    border-left: #B1B1B1 1px solid;
    border-right: #B1B1B1 1px solid;
    border-bottom: #B1B1B1 1px solid;
}

#ut_s3 tr {
    border: none;
}

#ut_s3 .row {
    padding-top: 40px;
    border-top: #B1B1B1 1px solid;
}

#ut_s3 th {
    border: none;
}